USER='root'
PASSWD=''
DBNAME='*'
GPGKEY=''
BACKUPFOLDER="/home/deploy/backups/mysql/`date +%Y%m%d`"
CRYPT="false"
DAYS=7
DUMPNAME="`date +%Y%m%d%H%M%S`.sql"

CMDDUMP="/usr/bin/mysqldump --single-transaction -u $USER -p$PASSWD"
CMDCRYPT="/usr/bin/gpg -e -q -r $GPGKEY -o "